body {
	font-family: 'Raleway', sans-serif;
}

.post__img {
	max-width: 45%;
	padding: 10px 20px 10px 20px;
}

.post__img--right {
	float: right;
}

.post__img--left {
	float: left;
}

.post-list li .post__img {
	max-height: 120px;
}
