body {
	font-family: 'Raleway', sans-serif;
}

a, a:visited, a:hover, a:active {
  color: #2a7ae2;
}

.site-footer {
	font-size: 15px; 
	color: #828282;
}

.site-footer .rss, .site-footer .rss:hover {
	text-decoration: none;
}

.site-footer .rss .text {
	padding-left: 10px;
}

.post__img {
	padding-top: 10px;
	padding-bottom: 10px;
}

.post__img--right {
	max-width: 45%;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}

.post__img--left {
	max-width: 45%;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

.post-list li .post__img {
	max-height: 120px;
	float: right;
}
